*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-image: linear-gradient(to right,rgb(255,0,0),rgb(158,28,28));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    box-shadow: inset 0px -1px 5px rgb(255, 255, 255);
    z-index: 1;
}
.logo-texto{
    width: 65px;
    margin-left: 57px;
    height: 70px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-texto:hover{
    background-color: rgba(100,100,100,0.8);
}
.menu{
    width: 100%;
    
}

.menu ul{
    float:right;
    margin-right: 15px;
    
}
.menu li{
    display: inline-block;
}
.menu li a{
    font-size: 24px;
    line-height: 70px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
.menu li:hover{
    background-color: rgba(100, 24, 24, 0.8);
}

.tela_render{
    z-index: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255);
}


.Menu_principal{
    left: 10px; 
    height: 657px;
    width: 200px;
    background-image: linear-gradient(to right,rgb(121, 120, 120),rgb(145, 140, 140));
    background-color: rgba(100,100,100,0.8);
}
.Menu_principal li{
    text-align: center;
}
.Menu_principal li a{
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
.Menu_principal li:hover{
    background-color: rgba(100,100,100,0.8);
}
.item_menu_lista{
    color: white;
}
.sub_item_menu_lista{
    background-color: rgba(180, 179, 179);
    color: rgb(228, 13, 13);
}
.tela_sis{
    height: 657px;
    width: 100%;
 }
 #logo_tereza{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


.rodape{
    height: 30px;
    background-image: linear-gradient(to right,rgb(255,0,0),rgb(158,28,28));
    font-size: 24px;
    color:white;
    text-align: right;
    box-shadow: inset 0px -1px 5px rgb(255, 255, 255);
}
.rodape a{
margin-right: 20px;
}


.box_list{     
    color: rgb(36, 7, 7);
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(233, 243, 243);
    padding: 15px; 
    overflow: auto;
    border: 1px solid rgb(175, 12, 12);
    border-radius: 6px;
}
.box{      
    color: rgb(36, 7, 7);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(233, 243, 243);
    padding: 15px;
     /*border-radius: 15px;*/
     
}
fieldset{
    width: 100%;
    margin-top:auto;
    border: 2px solid rgb(175, 12, 12);
    border-radius: 6px;
    padding: 15px;
    
}
legend{
    border-radius: 6px; 
    padding: 6px; 
    text-align: center;
    background-color: rgb(175, 12, 12);
    color: white;

}

.inputBox{
    
    position: relative;
    margin-right: 20px;
}


.bloco_de_inputbox{
    display: flex;
}
.linha_lista{
    display: flex;
    height: 20px;

    
}
.linha_lista:hover{
    background-color: darkgray;
}


.div_codigo_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 70px;
padding: 0px;

margin-right: 20px;
}
.div_nome_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 150px;
padding: 0px;

margin-right: 20px;
}
.div_cpf_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;  
padding: 0px;

margin-right: 20px;
}
.div_rg_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;    

margin-right: 20px;
}
.div_criticidade{
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;

margin-right: 20px;
}
.div_status_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;    

margin-right: 20px;
}
.div_dt_cria_list{

    
    overflow: hidden;
    text-overflow: ellipsis;
width: 150px;    


margin-right: 20px;
}
.div_dt_edita_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;    

margin-right: 20px;
}
.div_email_list{
    
    overflow: hidden;
    text-overflow: ellipsis;
width: 100px;    

margin-right: 20px;
}
.div_cidade_list{
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;

margin-right: 20px;
}
.div_dt_reprovacao{
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
width: 80px;

margin-right: 20px;
}


.div_codigo_list a{
    color: rgb(175, 12, 12);
    white-space: nowrap;
    }
.div_nome_list a{
    color: rgb(175, 12, 12);
    white-space: nowrap;
    }
    .div_cpf_list a{
        color: rgb(175, 12, 12);
        white-space: nowrap;
    }
    .div_rg_list a{
        color: rgb(175, 12, 12);
    white-space: nowrap;  
    }
    .div_criticidade{
        color: rgb(175, 12, 12);
    white-space: nowrap;
    }
    .div_status_list a{
        color: rgb(175, 12, 12);
    white-space: nowrap;
    }
    .div_dt_cria_list a{
        color: rgb(175, 12, 12);
    white-space: nowrap;  
    }
    .div_dt_edita_list a{
        color: rgb(175, 12, 12);
    white-space: nowrap;
    }
    .div_email_list a{
        color: rgb(175, 12, 12);
    white-space: nowrap; 
    }
    .div_cidade_list a{
        color: rgb(175, 12, 12);
    white-space: nowrap;
    }
    .div_dt_reprovacao a{
        color: rgb(175, 12, 12);
    white-space: nowrap;
    }

.inputUser{
    margin: 2px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(175, 12, 12);
    outline: none;
    font-size: 15px;
    letter-spacing: 2px; 

}

.labelInput{
 position: absolute;
 top: 0px;
 left: 0px;
 pointer-events: none;
 transition: .5s;
 color: rgb(175, 12, 12);
}

.inputUser:focus ~ .labelInput,

.inputUser:valid ~ .labelInput{
 top: -20px;
 font-size: 12px;
}
.BotaoFormulario{
    background-color: rgb(175, 12, 12);
    width: 80px;
    border: none;
    padding: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 20px;
}
.BotaoFormulario:hover{
    background-image: linear-gradient(to right,rgb(158,28,28),rgb(100,0,0));
}


/*TAMANHO DOS INPUTS FORMULARIO CADASTRO CLIENTE*/
    #input_nome{
    width: 1000px;
    }
    #input_cpf{
    width: 300px;
    }
    #input_rg{
    width: 300px;
    }
    #input_dt_nas{
    width: 100px;
    }
    #input_endereco{
    width: 1000px;
    }
    #input_cel{
    width: 100px;
    }
    #input_email{
    width: 300px;
    }
    #input_cidade{
    width: 100px;
    }
    #input_observacao{
        width: 1000px;
    }
    
